*.py[co]
*.sw[op]
.DS_Store
.gzip
*.xlsx

dailygraphics.submlime-*
graphics.sublime-*

*/index.html
*/child.html
*/graphic_config.pyc
*/assets/*
!*/assets/assetsignore
*/css/graphic-header.css
*/js/parent-header.js
*/js/parent-footer.js
*/js/graphic-header.js
*/js/graphic-footer.js
lookup-clearance-rates/output/*
