@import "base";

svg {
    font-size: 20px;
    background-color: #fafafa;
}

.parcel_structures path {
    fill: #eeeeee;
    stroke: #888;
    stroke-width: 0.5px;
}

.osm_streets path {
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;

    &.type-primary {
        stroke-width: 3px;
    }

    &.type-secondary {
        stroke-width: 2px;
    }

    &.type-footway {
        opacity: 0;
    }
}

.railroads path {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 10,3;
}

.map-labels text {
    fill: #333;
    font-size: 70%;
    font-weight: bold;
    font-family: 'Gotham SSm', Helvetica, Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    alignment-baseline: middle;
}

.map-labels.shadow text {
    fill: #fff;
    stroke: #fff;
    stroke-width: 3px;
    opacity: .9;
    font-weight: bold;
}

.icons circle {
    fill: #999;
    stroke: #333;
    stroke-width: 1px;

    &.type-commercial {
        fill: #fbb4ae;
    }

    &.type-residential {
        fill: #b3cde3;
    }

    &.type-both {
        fill: #decbe4;
    }

    &.type-municipal {
        fill: #fed9a6;
    }
}

.icons text {
    font-size: 12px;
    fill: #333;
    text-anchor: middle;
    alignment-baseline: middle;
}

#structure-list {
    .structure {
        padding-bottom: 24px;

        .header {
            padding-bottom: 6px;

            .id {
                font-size: 12px;
                background: #999;
                color: #333;
                width: 24px;
                line-height: 24px;
                text-align: center;
                vertical-align: middle;
                border-radius: 12px;
                border: 1px solid #333;
                display: inline-block;

                &.type-commercial {
                    background: #fbb4ae;
                }
            
                &.type-residential {
                    background: #b3cde3;
                }
            
                &.type-both {
                    background: #decbe4;
                }
            
                &.type-city {
                    background: #fed9a6;
                }
            }

            .name {
                font-size: 130%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .addr {
            padding-bottom: 10px;
            font-family: "Roboto";
            font-style: italic;
        }

        .desc {
            padding-bottom: 4px;
            font-family: "Noticia Text";
            line-height: 28px;
            max-width: 640px;
        }
    }
}

// responsive styles
@media screen and (max-width: 500px) {
    svg { font-size: 12px; }
    .map-labels text {
        letter-spacing: .5px; 
    }
}
