@import "base";

@city: #8BC0BF;
@residential: #F7E39B;
@commercial: #F1C696;
@mixed-use: #ECA395;

svg {
    font-size: 20px;
    background-color: #fafafa;
}

.key {
    margin-bottom: 15px;

    .key-item {
        b {
            &.type-commercial {
                background: @commercial;
            }
        
            &.type-residential {
                background: @residential;
            }
        
            &.type-mixed-use {
                background: @mixed-use;
            }
        
            &.type-city {
                background: @city;
            }
        }
    }
}

.parcel_structures path {
    fill: #dddddd;
    stroke: #777;
    stroke-width: 0.5px;
}

.osm_streets path {
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;

    &.type-primary {
        stroke-width: 3px;
    }

    &.type-secondary {
        stroke-width: 2px;
    }

    &.type-footway {
        opacity: 0;
    }
}

.railroads path {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 10,3;
}

.map-labels text {
    fill: #333;
    font-weight: bold;
    font-family: 'Gotham SSm', Helvetica, Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    alignment-baseline: middle;
}

.map-labels.shadow text {
    fill: #fff;
    stroke: #fff;
    stroke-width: 3px;
    opacity: .9;
    font-weight: bold;
}

.icons circle {
    fill: #999;
    stroke: #333;
    stroke-width: 1px;

    &.type-commercial {
        fill: @commercial;
    }

    &.type-residential {
        fill: @residential;
    }

    &.type-mixed-use {
        fill: @mixed-use;
    }

    &.type-city {
        fill: @city;
    }
}

.icons text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    fill: #333;
    text-anchor: middle;
    alignment-baseline: middle;
}

#structure-list {
    .structure {
        padding-bottom: 32px;

        .header {
            padding-bottom: 6px;

            .id {
                font-family: 'Courier New', Courier, monospace;
                font-size: 14px;
                background: #999;
                color: #333;
                width: 24px;
                line-height: 24px;
                text-align: center;
                vertical-align: middle;
                border-radius: 12px;
                border: 1px solid #333;
                display: inline-block;

                &.type-commercial {
                    background: @commercial;
                }
            
                &.type-residential {
                    background: @residential;
                }
            
                &.type-mixed-use {
                    background: @mixed-use;
                }
            
                &.type-city {
                    background: @city;
                }
            }

            .name {
                font-size: 130%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .details {
            padding-top: 4px;
            padding-bottom: 12px;
            font-family: "Roboto";
            color: #999;
            max-width: 640px;

            strong {
                color: #333;
                font-weight: bold;
            }
        }

        img {
            width: 100%;
            max-width: 640px;
        }

        .desc {
            padding-bottom: 4px;
            font-family: "Noticia Text";
            line-height: 28px;
            max-width: 640px;
        }

        .jump-link {
            font-size: 0.85em;
            margin-top: 4px;
        }
    }
}

// responsive styles
@media screen and (max-width: 500px) {
    svg { font-size: 12px; }
    
    .map-labels text {
        letter-spacing: .5px; 
    }

    .railroads path {
        stroke-width: 0.5px;
    }

    .details span {
        .sep {
            display: none;
        }
        
        &:after {
            content: '\A';
            white-space: pre;
        }
    }
}
