{% extends 'base_template.html' %}

{% block content %}
    <div id="locator-map" class="graphic"></div>

    <div id="structure-list">
        {% for structure in COPY.structure_labels %}
        {% if structure.show == 'TRUE' %}
        <div class="structure" id="structure-{{ structure.id }}">
            <div class="header">
                <span class="id type-{{ structure.type.lower().replace(' ', '-') }}">{{  structure.id }}</span>
                <div class="name">
                    <strong>{{ structure.name }}</strong>
                </div>
            </div>
            <div class="details">
                <span class="nowrap">{{ structure.addr }} </span>
                <span class="nowrap"><strong><span class="sep">|</span> Status:</strong> {{ structure.status }} </span>
                <span class="nowrap"><strong><span class="sep">|</span> Property Owner:</strong> {{ structure.property_owner }} </span> 
                {% if structure.architect %}<span class="nowrap"><strong><span class="sep">|</span> Architect:</strong> {{ structure.architect }}</span>{% endif %}
            </div>
            {% if structure.img %}<img src="images/{{ structure.img }}" />{% endif %}
            <div class="desc">{{ structure.desc }}</div>
            <div class="jump-link"><a href="javascript:pymChild.scrollParentToChildEl('locator-map');">Back to map &uarr;</a></div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <!-- <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div> -->

    <script type="text/javascript">
        var STRUCTURE_LABELS = {{ COPY.structure_labels.json() }};

        STRUCTURE_LABELS = STRUCTURE_LABELS.filter(function(s) { return s['show'] == 'TRUE' });

        var MAP_LABELS = {{ COPY.map_labels.json() }};
    </script>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/d3.min.js') }}
    {{ JS.push('js/lib/d3.geo.projection.v0.min.js') }}
    {{ JS.push('js/lib/topojson.v1.min.js') }}
    {{ JS.push('js/lib/modernizr.svg.min.js') }}
    {{ JS.push('js/base.js') }}
    {{ JS.push('js/geomath.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
